*.class

# Package Files #
*.jar
*.war
*.ear
/target/

# eclipse
.settings/
.classpath
.project
logs/
log/
logdaily/
csv/

# idea
.idea/
*.iml

*velocity.log*

src/test/java/com/trendy/bigdata/dao/DaoTest\.java

src/test/java/com/trendy/bigdata/Prize517\.java
